.policy-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.groupID-heading {
    color: #4a3f99;
    margin: 0%;
}

.policy-body {
    padding: 10px;
}