.policy-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.policy-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.groupID-heading {
    color: #4a3f99;
    margin: 0%;
}

.data-block-div,
.video-monitoring-div,
.application-name-div {
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.data-block-div {
    grid-column: 1/2;
    grid-row: 1/2;
}

.video-monitoring-div {
    grid-column: 1/2;
    grid-row: 2/3;
}

.application-name-div {
    grid-column: 2/3;
    grid-row: 1/3;
}

.policy-body-heading {
    margin: 0%;
}

.policy-body-para {
    margin: 10px;
}

.policy-application-list {
    height: 85%;
    overflow: auto;
}

.deletePolicyButton {
    width: 8rem;
    height: 2.5rem;
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.deletePolicyButton:hover{
    color: white;
    background-color: red;
    border: 1px solid white;
}