.main-page {
    height: 100vh;
    width: calc(100vw - 250px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.main-page-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.dashboard-heading {
    margin: 0%;
    padding: 10px 15px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
}

.dashboard-page {
    width: calc(100% - 20px);
    height: calc(90% - 20px);
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: repeat(3, 1fr);
}

.dashboard-page>div {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000001a;
    background-color: white;
}

.dashboard-subheading {
    margin: 0%;
    padding: 10px;
    font-weight: 600;
}

.system-summary {
    grid-row: 1/2;
    grid-column: 1/3;
    padding-bottom: 0.5rem;
}

.bar-graph {
    grid-row: 2/3;
    grid-column: 1/2;
}

.pie-chart {
    grid-row: 2/3;
    grid-column: 2/3;
}

.tickets-table {
    grid-row: 3/4;
    grid-column: 1/3;
}

.summary-boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
}

.summary-boxes>div{
    border-radius: 10px;
    height: 100%;
    width: 25%;
    padding: 10px 15px;
}

.total-devices {
    background-color: #FFE2E5;
}

.license-count {
    background-color: #FFF4DE;
}

.healthy-devices {
    background-color: #DCFCE7;
}

.retired-devices {
    background-color: #F3E8FF;
}

.no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .main-page {
        width: 85%;
        height: calc(100vh - 4rem);
        margin: 2rem auto;
    }

    .dashboard-page {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .system-summary {
        width: calc(100% - 20px);
    }

    .summary-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .summary-boxes>div{
        height: auto;
        width: calc(100% - 30px);
    }

    .pie-chart {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 400px;
    }

    .tickets-table {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}