.selectDropdown{
    width: 20vw;
    padding: 8px 5px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 8px;
    font-size: 1rem;
    color: rgb(82, 82, 82);
}

.selectDropdown:focus {
    outline: none;
    box-shadow: 0 0 0 1px blue;
}

.healthStatusTable{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin: 0rem 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    background-color: white;
}

.groupTableHealthContainer{
    overflow: auto;
}

.fa-battery-full{
    color: green;
    font-size: 1.5rem;
}

.fa-battery-half{
    color: orange;
    font-size: 1.5rem;
}

.fa-battery-empty{
    color: red;
    font-size: 1.5rem;
}