.licence-header{
    padding: 10px 15px;
    display: flex;
    gap: 10px;
}

.add-licence-input{
    width: 30%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px 8px;
}

.group-table-data.active{
    color: green;
    font-weight: 600;
}

.group-table-data.expired{
    color: red;
    font-weight: 600;
}

@media (min-width: 320px) and (max-width: 767px) {
    .add-licence-input {
        width: 100%;
    }
}