.config-body {
    flex-grow: 1;
    overflow: auto;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.stamp-details {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
}

.qr-visibility {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
}

.whitelisting-application {
    grid-column: 2/3;
    grid-row: 1/3;
    overflow-y: auto;
    background-color: white;
}

.stamp-details,
.qr-visibility,
.whitelisting-application {
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.application-name::first-letter {
    text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 767px) {
    .config-body {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }

    .stamp-details {
        grid-row: 1/2;
    }

    .qr-visibility {
        grid-row: 2/3;
    }

    .whitelisting-application {
        grid-row: 3/4;
        grid-column: 1/2;
        height: 250px;
    }
}