.policy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.groupID-heading {
    color: #4a3f99;
    margin: 0%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .policy-header {
        flex-direction: column;
    }
}