.add-policy-popup{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 15px 15px;
    box-shadow: 0 0 5px #1976d2;
    border-radius: 12px;
    border: 2px solid gray;
    overflow-y: auto;
    max-height: 90vh;
}

.policy-form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.core-policy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1/2;
    padding: 10px;
    border: 1px solid #0000001a;
    border-radius: 4px;
    height: 60vh;
}

.policy-checkbox{
    display: flex;
    margin: 0.25rem;
}

.blockedApps {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    padding: 10px;
    border: 1px solid #0000001a;
    border-radius: 4px;
}

.addApps {
    display: flex;
    gap: 10px;
}

.addApps-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}

.addApps-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.addApps-button:disabled {
    cursor: not-allowed;
}

.clipboardWhiteLists {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    padding: 10px;
    border: 1px solid #0000001a;
    border-radius: 4px;
}

.blockedApps-list {
    overflow-y: auto;
    padding: 0%;
}

.blockedApps-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.removeApp-button {
    color: red;
    font-size: 1rem !important;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
    .policy-form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .core-policy {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .blockedApps {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}