.addPolicyPopup{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 15px 15px;
    box-shadow: 0 0 5px #1976d2;
    border-radius: 12px;
    border: 2px solid gray;
}

.policyForm{
    display: flex;
    flex-direction: column;
}

.policy-checkbox{
    display: flex;
    margin: 0.25rem;
}