.makeConfig-container {
    height: 90%;
    width: 50%;
    overflow-y: auto;
    background-color: white;
    padding: 10px 15px;
}

.configForm {
    display: flex;
    flex-direction: column;
}

.configForm-label {
    font-size: 14px;
    font-weight: 500;
    color: #5f5b5b;
    margin: 0% 0% 5px;
}

.companyInput {
    width: 97.5%;
    padding: 5px;
    border: 1px solid #0000001a;
    border-radius: 5px;
    margin-bottom: 10px;
}

.watermark-settings {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.manageStamp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.layoutDropdown {
    width: 100%;
    padding: 5px;
    border: 1px solid #0000001a;
    border-radius: 5px;
    margin-bottom: 10px;
}

.whiteListedProcess{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.saveModalBtn{
    padding: 0.5rem;
    font-size: medium;
    background-color: rgba(0, 0, 209, 0.75);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.saveModalBtn:hover{
    background-color: rgba(0, 0, 209, 0.65);
}