.manage-devices-popup {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 85vh;
    background-color: white;
    padding: 10px 15px 15px;
    box-shadow: 0 0 5px #1976d2;
    border-radius: 12px;
    border: 2px solid gray;
}

.manage-devices-table {
    height: 100%;
    overflow-y: auto;
}